body{
    background-image: url("ALL bmw.jpg");
}
.trending-product{
    padding: 15% 15%;
}
 .centre-text h2{
    color: #e40532cd;
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 150px;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 2rem;
}
.row{
      position: relative;
      transition: all .40s;
}
.row .imgg{
    width: 100%;
    height: 80%;
    transition: all .40s;

}
.row .imgg:hover{
    transform: scale(0.9);
}
.prosuct-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: rgba(194, 10, 10, 0.87);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: rgba(20, 38, 202, 0.903);
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: rgba(255, 0, 0, 0.656);
}
.icon i{
    color: #e21717d0;
    font-size: 18px;
}
.price p{
    color: #d01111f6;
    font-size: 14px;
    font-weight: 900;
}
parts2.jpg
.men-reviews{
    background-color: blanchedalmond;
}
.reviews{
    text-align: center;
}

